<!DOCTYPE html>
<html>
<head>
    <title>Smart Tables</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">
<div class="container">
    <h1 class="text-center mt-4">Smart Tables</h1>
    <form action="/smartTable" method="POST" class="mb-4">
        <div class="form-group">
            <input type="text" class="form-control" name="query" placeholder="Введите строку здесь...">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <form action="/tables" method="GET" class="mb-4">
        <button type="submit" class="btn btn-secondary">Показать все таблицы</button>
    </form>
</div>
</body>
</html>
